.default {
  background-color: var(--color-background-default);
  color: var(--color-text-default);
}
.upvoted {
  background-color: var(--color-background-upvoted);
  color: var(--color-text-upvoted);
}
.check {
  position: absolute;
  width: 40%;
  height: 40%;
  right: 0;
  bottom: 0;
}
.check > * {
  width: 100%;
  height: 100%;
}
