.default {
  background-color: var(--color-background-default);
  color: var(--color-text-default);
}
.upvoted {
  background-color: var(--color-background-upvoted);
  color: var(--color-text-upvoted);
}
